@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}
span {
  color: var(--foreground);
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .botao {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
}

h3{
  color: black;
  font-weight: bold;
}
/* src/app/globals.css */
.form-container {
  max-width: 50%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;

  }

form div {
  margin-bottom: 5px;
}

label {
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

button {
  width: 100%;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  align-items: center;

}
.button-form {
  width: 100%;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  /* margin-top: -10px; */
}
.button-form:hover {
  background-color: #1363BEFF;
  padding: 11px 21px;
}

/* Estilo para o grupo do formulário */
.form-group {
  margin-bottom: .5rem;
  
}

.form-group label {
  display: block;
  /* margin-bottom: 1.5rem; */
  font-weight: bold;
  color: #333;
  
}

/* Estilo para o dropdown */
.dropdown {
  width: 100%;
  padding: 0.8rem;
  font-size: .9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.dropdown:focus {
  border-color: #007bff;
}

.dropdown option {
  padding: 0.5rem;
}

.title-h1 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.teste{
  background-color: #f1f1f1;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 1%;
}

.cabecalho-produto{
  font-size: 1.5rem;
  font-weight: bold;
  /* color: black; */
}

/* styles.css */
.elevation-1 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.elevation-2 {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.elevation-3 {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.logo-clickhub-homepage{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  items-align: center;
  border-radius: 1.7rem;
}

.input-form {
  width: 100%;
  padding: 0.8rem;
  font-size: .9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: black;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.botaozinho {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

